#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    position:fixed;
    left:0px;
    z-index: -1;
    bottom:0;
    width:100%;
    margin-top: 200px;
    height: 30px;
    .footer-nav{
        ul{
            list-style: none;
        }
    }
}